@import "tailwindcss";

.hover-italic {
  transition: all 0.2s ease-in-out;
}

.hover-italic:hover {
  font-style: italic;
}

.background-cover-fit {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  min-height: 100vh !important;
  width: 100% !important;
  height: 100% !important;
}

main {
  font-family: 'Calisto MT', serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: clip;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  margin: 50px 20px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin: 20px 0;
  line-height: 2rem;
}

nav h1 a,
nav h3 a {
  text-decoration: none;
  background-color: none;
  transition: all 0.5s ease-out;
  border-radius: 0.5rem;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

a a:hover {
  background-image: none;
  text-decoration: none;
}

header {
  height: 20vh;
}

header img {
  max-height: 10rem;
  width: 100vw;
  object-fit: cover;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  filter: opacity(75%);
  opacity: 0.5;
}

header h1 {
  color: #021d6f;
}

button {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: #799fba;
  padding: 10px 15px;
  opacity: 0.7;
}

button:hover {
  opacity: 1;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

span[role='img'] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  margin: 10px 0;
  font-size: 1rem;
  padding: 0.25rem;
  width: 600px;
  border: 1px solid #799fba;
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input[type='textarea'] {
  overflow-x: scroll;
}

input:focus {
  border: 1px solid #021d6f;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

label {
  margin-right: 10px;
}

nav h1 a:hover,
nav h3 a:hover {
  text-decoration: none;
}

nav h1 a,
nav h3 a {
  color: rgba(0, 0, 0);
  text-decoration: underline;
}

footer a {
  color: #fafafa;
  opacity: 0.5;
  margin: 10px 20px;
  transition: all 0.3s ease-in-out;
}

footer a:hover {
  opacity: 1;
}

textarea {
  width: 600px;
  height: 200px;
  border: 3px solid #cccccc;
  padding: 5px;
  margin-top: 10px;
}

.photo-parent {
  min-height: 30rem;
  height: 30rem;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

h1 .navActive,
h3 .navActive {
  color: #DBC9C9;
  cursor: default;
  font-size: 2rem;
  text-shadow: 3px 3px 15px rgba(255, 255, 255, 0.5);
  font-weight: 600;
}

.dre-navbar {
  padding: 1rem;
}

.dre-navbar .navbar-brand {
  font-size: 1.5rem;
}


@media screen and (max-width: 450px) {

  .navbar-collapse {
    z-index: 100;
    background-color: #fafafa;
  }
  
  .navbar-brand h1 {
    font-size: 2rem;
    color: #fafafa;
    text-shadow: 3px 3px 15px rgba(255, 255, 255, 0.5);
  }

  .navbar-toggler {
    margin-top: -2rem;
  }
  
  footer a {
    font-size: 1rem;
  }

  #opera-headshot-2 {
    display: none;
  }

  .opera-bio {
    padding: 1rem;
  }

  object {
    object-fit: contain;
  }

}